.vs/HotelManagement/copilot-chat/5ceb5927/sessions/84b711a4-8149-4f43-90e4-91d8627ced93
.vs/HotelManagement/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/HotelManagement/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
.vs/HotelManagement/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/HotelManagement/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/HotelManagement/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
.vs/HotelManagement/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/HotelManagement/FileContentIndex/68be081d-e44b-480d-9f2e-328f7c4b1f1b.vsidx
.vs/HotelManagement/FileContentIndex/86c02c11-8559-4497-960a-525aae8a0ffc.vsidx
.vs/HotelManagement/FileContentIndex/a5d1e849-d709-4cf5-a3f8-aae609d58cd4.vsidx
.vs/HotelManagement/FileContentIndex/bba72960-48bc-47bb-acb3-6f0da79d6ff9.vsidx
.vs/HotelManagement/FileContentIndex/e718f050-cd1e-4c4e-8e96-43fd74e882a1.vsidx
