# Visual Studio & Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
**/Debug/
**/Release/
**/x64/
**/x86/
**/ARM/

# NuGet Packages
packages/
*.nupkg

# Log files
*.log

# Entity Framework
Migrations/

# Dotnet tools
.dotnet-tools/

# Rider project settings
.idea/
*.iml

# Ignore files related to Azure and Docker
PublishProfiles/
app.publish/

# Misc
*.swp
*.bak